In [1]:
import pandas as pd

df = pd.DataFrame( 
    { 
     'Name'  : ['Tom', 'Jane', 'Mike', 'Sara', 'John', 'Emma'],
    'Age'   : [20, 22, 19, 21, 23, 20],
    'Score' : [85, 92, 78, 88, 95, 70],
    'Grade' : ['B', 'A', 'C', 'B', 'A', 'C'] 
    }
)

print(df)
print(df.shape)
print(df.describe())
print(df.info())

   Name  Age  Score Grade
0   Tom   20     85     B
1  Jane   22     92     A
2  Mike   19     78     C
3  Sara   21     88     B
4  John   23     95     A
5  Emma   20     70     C
(6, 4)
             Age      Score
count   6.000000   6.000000
mean   20.833333  84.666667
std     1.471960   9.287985
min    19.000000  70.000000
25%    20.000000  79.750000
50%    20.500000  86.500000
75%    21.750000  91.000000
max    23.000000  95.000000
<class 'pandas.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    6 non-null      str
 1   Age     6 non-null      int64
 2   Score   6 non-null      int64
 3   Grade   6 non-null      str
dtypes: int64(2), str(2)
memory usage: 324.0 bytes
None

In [9]:
print(df['Score'])
print(df['Name'])
print(df['Age'])

0    85
1    92
2    78
3    88
4    95
5    70
Name: Score, dtype: int64
0     Tom
1    Jane
2    Mike
3    Sara
4    John
5    Emma
Name: Name, dtype: str
0    20
1    22
2    19
3    21
4    23
5    20
Name: Age, dtype: int64

In [14]:
print(df.iloc[0])
print(df.iloc[5])
df.index = ['학생1', '학생2', '학생3', '학생4', '학생5', '학생6']
print(df.loc['학생3'])

Name     Tom
Age       20
Score     85
Grade      B
Name: 0, dtype: object
Name     Emma
Age        20
Score      70
Grade       C
Name: 5, dtype: object
Name     Mike
Age        19
Score      78
Grade       C
Name: 학생3, dtype: object

In [15]:
print(df["Score"].max())
print(df["Score"].min())
print(df["Score"].mean())

95
70
84.66666666666667

In [22]:
print(df[df["Score"] >= 85])
print(df[df["Grade"] == 'A'])
print(df[df["Score"] >= df["Score"].mean()])

     Name  Age  Score Grade
학생1   Tom   20     85     B
학생2  Jane   22     92     A
학생4  Sara   21     88     B
학생5  John   23     95     A
     Name  Age  Score Grade
학생2  Jane   22     92     A
학생5  John   23     95     A
     Name  Age  Score Grade
학생1   Tom   20     85     B
학생2  Jane   22     92     A
학생4  Sara   21     88     B
학생5  John   23     95     A

In [24]:
print(df.head(3))
print(df.tail(2))

     Name  Age  Score Grade
학생1   Tom   20     85     B
학생2  Jane   22     92     A
학생3  Mike   19     78     C
     Name  Age  Score Grade
학생5  John   23     95     A
학생6  Emma   20     70     C

In [28]:
# 조건 필터링
# 나이가 30 이상인 사람만 보기
print(df[df["Age"] >= 30])

Empty DataFrame
Columns: [Name, Age, Score, Grade]
Index: []