In [ ]:
import pandas as pd

df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)
# 딕셔너리 형태로 Dataframe을 만듦
print(df)
# 열 하나씩 출력
# 결과는 Dataframe이 아니라, "Series"라는 1차원 자료 구조로 나옴
print(df["Name"])
print(df["Age"])
print(df["Sex"])

# Serise : 1차원 데이터(열 하나)
# 
print (type(df["Age"]))
print (type(df))

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2   Bonnell, Miss Elizabeth   58  female
0     Braund, Mr. Owen Harris
1    Allen, Mr. William Henry
2     Bonnell, Miss Elizabeth
Name: Name, dtype: str
0    22
1    35
2    58
Name: Age, dtype: int64
0      male
1      male
2    female
Name: Sex, dtype: str
<class 'pandas.Series'>
<class 'pandas.DataFrame'>

In [ ]:
# 이름이 Age인 Series 생성
ages = pd.Series([22,25,58], name ='Age')
print(ages)
# Dataframe에서 특정 열 꺼내기
print(df['Age'])
# 기본 통꼐 함수
# max : 최댓값
print(('최대 나이'), df["Age"].max())

# min : 최솟값
print(('최소 나이'), df["Age"].min())

# mean : 평균값
print(('평균 나이'), df["Age"].mean())

# 요약 통계 정보 보기
# describe : 
print(df.describe())
# count   3.000000 : 데이터 개수
# mean   38.333333 : 평균
# std    18.230012 : 표준 편차(데이터기 평균에서 얼마나 퍼져 있는지)
# min    22.000000 : 최소값
# 25%    28.500000 : 1사분함수
# 50%    35.000000 : 중앙값
# 75%    46.500000 : 3사분위수
# max    58.000000 : 최대값

# Dataframe : 전체 요약 정보
# Info : Dataframe의 구조 정보를 보여줌
print(df.info())

0    22
1    25
2    58
Name: Age, dtype: int64
0    22
1    35
2    58
Name: Age, dtype: int64
최대 나이 58
최소 나이 22
평균 나이 38.333333333333336
             Age
count   3.000000
mean   38.333333
std    18.230012
min    22.000000
25%    28.500000
50%    35.000000
75%    46.500000
max    58.000000
<class 'pandas.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      str
 1   Age     3 non-null      int64
 2   Sex     3 non-null      str
dtypes: int64(1), str(2)
memory usage: 204.0 bytes
None

In [20]:
# Dataframe에서 특정 행을 선택하는 방법 2가지
# - lioc : 위치로 선택(0번째, 1번째, 2번째 처럼 순서/번호로 접근)
# - loc : 라벨로 선택(index에 붙어있는 이름으로 접근)

#iloc
# iloc은 index의 값이 뭐든 상관없이, 몇 번째 줄이냐로 가져옴
# ex) df.liot[0] -> 첫 번째 행(0번 위치)
# 결과는 한 행 이므로 Series(1차원) 형태로 나옴
print(df.iloc[0]) # 0번째 위치(첫번째 행)
print(df.iloc[1]) # 1번째 위치(두번째 행)
print(df.iloc[2]) # 2번째 위치(세번째 행)

# loc
# loc은 index 라벨로 접근
# 현재는 iloc과 loc의 결과가 같다
# imdex를 이름으로 바꾸면 ex) name 열을 index로 지정
# df.index = ['사람1', '사람2', '사람3']
# df.lot['사람1']로 접근
print(df.loc[0])

Name    Braund, Mr. Owen Harris
Age                          22
Sex                        male
Name: 0, dtype: object
Name    Allen, Mr. William Henry
Age                           35
Sex                         male
Name: 1, dtype: object
Name    Bonnell, Miss Elizabeth
Age                          58
Sex                      female
Name: 2, dtype: object
Name    Braund, Mr. Owen Harris
Age                          22
Sex                        male
Name: 0, dtype: object

In [23]:
# head() : 위쪽(처음 부분) 몇 개의 행만 보여주는 함수
# tail() : 아래쪽(마지막 부분) 몇 개의 행만 보여주는 함수

# 상위 5개
print(df.head())
# head()에 숫자를 안 쓰면 기본값은 5
# 즉, 위에서부터 5개의 행을 보여줌
# 데이터가 5개보다 적으면 있는 만큼만 출력

# 상위 2개
print(df.head(2))
# head(2)는 위에서부터 2개의 행만 출력
# 데이터가 클 때 일부분만 빠르게 확인하는 경우 자주 사용

# 하위 5개
print(df.tail())
# tail()에 숫자를 안 쓰면 기본값은 5
# 즉, 아래에서부터 5개의 행을 보여줌
# 데이터가 5개보다 적으면 있는 만큼만 출력

# 상위 2개
print(df.tail(2))
# tail(2)는 아래에서부터 2개의 행만 출력

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2   Bonnell, Miss Elizabeth   58  female
                       Name  Age   Sex
0   Braund, Mr. Owen Harris   22  male
1  Allen, Mr. William Henry   35  male
                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2   Bonnell, Miss Elizabeth   58  female
                       Name  Age     Sex
1  Allen, Mr. William Henry   35    male
2   Bonnell, Miss Elizabeth   58  female